
/* reset all styles */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* headnav inline-grid items */

.navhome {
  grid-column: 1;
}

.navcareer {
  grid-column: 3;
}

.navpersonal {
  grid-column: 4;
}

.navcontact {
  grid-column: 5;
}

/* mainbody grid items */

.mainlogo {
  grid-area: sidebar;
}

.maincareer {
  grid-area: career;
}

.mainpersonal {
  grid-area: personal;
}

.maincontact {
  grid-area: footer;
}

/* header navigation styles */

.headnav {
  display: inline-block;
  width: 100%;
  font-family: Arial;
  background: #ccc;
  border-bottom: 2px solid #bbb;
}

.headnav ul > li {
  display: inline-block;
  position: relative;
}

.headnav ul > li:hover {
  background: #666;
  color: #ccc;
  text-shadow: 1px 1px 0 #555;
}

.headnav ul > li:hover > a {
  color: #ccc;
  text-shadow: 1px 1px 0 #555;
}

.headnav ul > li:hover > ul {
  display: block;
  padding: 5px 0;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.headnav ul > li:hover > ul li {
  list-style: none;
  display: block;
  white-space: nowrap;
  color: #ccc;
  text-shadow: 1px 1px 0 #555;
}

.headnav ul > li:hover > ul a {
  color: #ccc;
  text-shadow: 1px 1px 0 #555;
}

.headnav ul > li:hover > ul a:hover {
  color: #666;
  background: #ccc;
  text-shadow: 1px 1px 0 #eee;
}

.headnav ul > li > a {
  display: block;
  padding: 0 10px;
  line-height: 40px;
  text-decoration: none;
  color: #666;
  text-shadow: 1px 1px 0 #ddd;
}

.headnav ul > li > a:hover {
  background: #666;
  color: #ccc;
  text-shadow: 1px 1px 0 #555;
}

.headnav ul > li > ul {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background: #666;
  z-index: 2;
}
