/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */


/*
 * Base structure
 */

html {
    background-color: #333;
}

#myCarousel,
section #bio,
section #skills {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    background: #000;
    background-color: #777;
    background-size: cover;
    position: relative;
    padding-bottom: 3rem;
    color: #5a5a5a;
    overflow: hidden;
    overflow-y: scroll;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.navbar {
    transition: all 0.5s;
    z-index: 997;
    padding: 2px 0;
    background: rgba(0, 0, 0, 0.5);
}


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
}

#jobs a,
#jobs a:focus,
#jobs a:hover {
  color: #DFBD69;
  text-decoration: none;
}

/* Custom default button */

.btn,
.btn:hover,
.btn:focus {
    color: rgb(223, 219, 219);
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #232fdf;
    border: .05rem solid #335b7b;
}


/* CUSTOMIZE THE CAROUSEL main
-------------------------------------------------- */

@media (max-height: 500px) {
    main {
        height: 150vh;
    }
}

main .carousel,
main .carousel-inner,
main .carousel-item,
main .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

main .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
}

main .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

main .carousel-caption {
    padding-bottom: 9rem;
}

main h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
}

@media (max-width: 768px) {
    main h2 {
        font-size: 28px;
    }
}

main p {
    width: 90%;
    margin: 0 auto 30px auto;
    color: #fff;
    padding-bottom: 3rem;
}

@media (min-width: 1024px) {
    main p {
        width: 80%;
    }
}


/* BIO CONTENT
-------------------------------------------------- */

#bio {
    background-size: cover;
    background-color: #777;
}


/* Cover */

#bio .cover {
    padding: 9rem;
    font-weight: 300;
}

#bio .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

#bio .cover-container {
    max-width: 75%;
    padding: 100px 0;
}

#bio .cover-item>img {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    height: 29rem;
}

#bio h1,
#bio p {
    padding-bottom: 3rem;
}


/* SKILLS CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

#skills {
    background-size: cover;
    background-color: #fff;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

#skills h1 {
    font-weight: 200;
    padding: 3rem;
}

#skills .col-lg-4 {
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

#skills .col-lg-4 i {
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
}

#skills .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* EMPLOYMENT-JOBS CONTENT
------------------------- */

#jobs {
    position: relative;
    padding: 5rem 1rem 5rem 3rem;
    overflow: hidden;
    overflow-y: scroll;
    border-top: 4px solid #fcc60a;
    border-bottom: 4px solid #fcc60a;
    background-color: #F0F2F5;
}

#jobs-container {
  background-color: hsla(47,98%,51%, 0.15);
  border: 1px solid #fcc60a;
}

#jobs h6 {
  padding: 1px #000;
  margin: 1px #000;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2 {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #26c6da;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-2 {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-2::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: #26c6da;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left-2 {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right-2 {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-2::after {
  left: -14px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .main-timeline-2::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-2::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-2::after,
  .right-2::after {
    left: 18px;
  }

  .left-2::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right-2 {
    left: 0%;
  }
}

/* PROJECTS CONTENT
------------------------- */

#projects {
    background-color: #333;
    position: relative;
    padding-bottom: 3rem;
    padding-left: 3rem;
    overflow: hidden;
    overflow-y: scroll;
}

#projects .projects-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
    background-color: #335b7b;
}

#projects .img-block {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
}


/* Thin out the  headings */

#projects .projects-heading {
    font-weight: 200;
    line-height: 1;
    letter-spacing: -.05rem;
}

#projects h2 span {
    color: #335b7b;
}


/* FOOTER CONTENT
------------------------- */

#contact {
    background-color: #333;
    position: relative;
    padding-bottom: 3rem;
    padding-left: 3rem;
    overflow: hidden;
    overflow-y: scroll;
    color: #fff;
}

.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .home:hover,
.wrapper .home:hover .tooltip,
.wrapper .home:hover .tooltip::before {
  background-color: #000;
  color: #ffffff;
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .email:hover,
.wrapper .email:hover .tooltip,
.wrapper .email:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .projects-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .projects-heading {
        margin-top: 7rem;
    }
}
